body{
    margin: 0;
    padding: 0;
}
    /* header */
    
h1{
    font-size: 40px;
}

.header{
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(images/donation6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.header-item{
    color: white;
    width: 500px;
    height: 300px;
    text-align: center;
}
.link-btn{
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    background-color: tomato;
    border: none;
    border-radius: 10px;
    
}